{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Controle de Gastos</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1 class="titulo">-Controle Financeiro-</h1>


<div class="container">
    <h1> Meus Gastos</h1>

    <div class="total">
        Total: R$ {{ total }}
    </div>

    <form method="POST">
        {% csrf_token %}
        <input type="number" name="valor" placeholder="Valor" required>
        <input type="text" name="descricao" placeholder="Descrição" required>
        <button type="submit">+</button>
    </form>

</div>

<h2>Gastos do mês</h2>
<div class="tabela-cont">
<table>
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for g in gastos %}
        <tr>
            <td>{{ g.descricao }}</td>
            <td>R$ {{ g.valor }}</td>
            <td>{{ g.data }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

</body>
</html>