<!DOCTYPE html>
<html>
<head>
    <title>Controle Financeiro</title>
</head>
<body>

    <h1>Controle Financeiro</h1>

    <h2>Saldo: R$ {{ saldo }}</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="number" step="0.01" name="valor" placeholder="Valor" required>

        <select name="tipo">
            <option value="entrada">Entrada</option>
            <option value="saida">Saída</option>
        </select>

        <input type="text" name="descricao" placeholder="Descrição" required>

        <button type="submit">Add</button>
    </form>

    <h2>Transações</h2>

    <ul>
        {% for t in transacoes %}
            <li>
                {{ t.descricao }} - R$ {{ t.valor }} ({{ t.tipo }})
            </li>
        {% endfor %}
    </ul>

</body>
</html>